{% extends 'blog/base_blog.html' %}

{% block title %}
    Update Post "{{ post.title }}" - {{ block.super }}
{% endblock %}

{% block content %}

    <form class="" action="{{ post.get_update_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-groupe">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
                <input type="file" name="file">
    <button type="submit" name="buttom">Update post</button>
    </form>


{% endblock %}