{% extends 'blog/base_blog.html' %}

{% block title %}
Create Post - {{ block.super }}
{% endblock %}

{% block content %}

<form class="" action="{% url 'post_create_url' %}" method="post" enctype="multipart/form-data" >
    {% csrf_token %}

    {% for field in form %}
    <div class="form-groupe">
        {% if field.errors %}
        <div class="alert alert-danger">
            {{ field.errors }}
        </div>
        {% endif %}
        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}
    <input multiple type="file" name="image" id="files">
    <button type="submit" name="buttom" id="sendPost">Create post</button>
</form>

<script>
files = document.getElementById('files');
element_before_will_be_added_input = document.getElementById('sendPost');
parent_element = element_before_will_be_added_input.parentNode;

function get_fields_for_entering_image_names() {
	file_list = files.files;
	for (var i = 0; i < file_list.length; i++){
		var newInput = document.createElement('input');
	    newInput.id = `image_${i}`;
	    newInput.setAttribute('name', `image_${i}`);
	    newInput.setAttribute('value', `${file_list[i].name}`);

	    parent_element.appendChild(newInput);
	    parent_element.appendChild(
	    	parent_element.removeChild(element_before_will_be_added_input)
	    );
	}
}

files.addEventListener('change', get_fields_for_entering_image_names);
</script>

{% endblock %}