{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    <!--    Подключим стили из весрстки.-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>
        {% block title %}
        Block Engine
        {% endblock %}
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse">
    <div class="container">
        <a href="#" class="navbar-brand">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto smooth-scroll">
                <li class="nav-item">
                    <a href="#intro" class="nav-link waves-effect waves-light">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'posts_list_url' %}" class="nav-link waves-effect waves-light">Blog</a>
                    <!--"#best-features"-->
                </li>
                <li class="nav-item">
                    <a href="{% url 'tags_list_url' %}" class="nav-link waves-effect waves-light">Tag</a>
                    <!--                               "#examples" -->
                </li>
                <li class="nav-item">
                    <a href="#gallery" class="nav-link waves-effect waves-light">News</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link waves-effect waves-light">Support</a>
                </li>
            </ul>
            <!--        Поисковая строка-->
            <form class="form-inline my-2 my-lg-0" action="{% url 'posts_list_url' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Название статьи" aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
            </form>
            <!-- иконки вк, инстанрамм, -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="#" class="nav-link waves-effect waves-light">
                        <i class="fa fa-book"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link waves-effect waves-light">
                        <i class="fa fa-book"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link waves-effect waves-light">
                        <i class="fa fa-book"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% if not off_header %}
<div id="intro" class="view">
    <div class="mask rgba-black-strong">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-10">
                    <h2 class="display-4 font-weight-bold white-text pt-5 md-2">
                        Блог девушки из Озерска.
                    </h2>
                    <hr class="hr-light">
                    <h4 class="white-text my-4">
                        В данном блоге Анастасия Андреева расскажет о своих увлечениях английским языком, пением, путешествиями.
                        <button class="btn btn-outline-white waves-effect  waves-light">
                            ReadMore <i class="fa fa-book"></i>
                        </button>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
{% endif %}

<div class="container mt-5">



    {% block content %}
    Content
    {% endblock %}

    {% if is_paginated %}
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            {% for n in page_object.paginator.page_range %}

            {% if page_object.number == n %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
            </li>
            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                <a class="page-link"  href="{{ next_url }}">Next</a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>

</div>

{% if request.user.is_authenticated and request.user.is_staff %}
<div class="admin-panel align-items-center">
    <a href="/admin" class="btn btn-outline-info">Admin</a>
    {% block admin-panel %}{% endblock %}
</div>
{% endif %}
</body>
</html>

<footer class="page-footer font-small unique-color-dark pt-0">
    <div class="primary-color">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a href="" class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-4"></i>
                    </a>
                    <a href="" class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-4"></i>
                    </a>
                    <a href="" class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-4"></i>
                    </a>
                    <a href="" class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-4"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Our Company</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi debitis delectus mollitia qui repellat repudiandae rerum, tempora totam.</p>

            </div>
            <div class="col-md-2 col-lg2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Products</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#">MDBootstrap</a></p>
                <p><a href="#">MDBootstrap</a></p>
                <p><a href="#">MDBootstrap</a></p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Links</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#">Account</a></p>
                <p><a href="#">Help</a></p>
                <p><a href="#">MDBootstrap</a></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold"><strong>Contact</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><i class="fa fa-home mr-3"></i>London</p>
                <p><i class="fa fa-envelope mr-3"></i>kmv@gmail.com</p>
                <p><i class="fa fa-phone mr-3"></i>+380 798 89 78</p>
            </div>
        </div>
    </div>
</footer>

<!--Добавим js стили-->
<!-- SCRIPTS -->
<!-- JQuery -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script src="{% static 'js/mdb.min.js' %}"></script>
</body>

</html>
