{% extends 'blog/base_blog.html' %}
{% load static %}

{% block title %}
{{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-10">
        <h1 class="mt-5">
            {{ post.title }}
        </h1>


            {% for item in post.body %}
            {% if item.img %}
                 <image class="img-fluid" src="{% static  item.img %}">
            {% else %}
                <p> {{ item }} </p>
            {% endif %}
            {% endfor %}

    </div>
</div>
{% endblock %}
